/*
*	 Author: beshleyua
*	 Author URL: http://themeforest.net/user/beshleyua
*/

/* TABLE OF CONTENTS
	1. Template Purple
*/

/* 1. Template Purple */
.background {
	background-color: rgb(255, 186, 8);
}

.preloader .spinner .double-bounce1,
.preloader .spinner .double-bounce2 {
	background: #FFBA08;
}

.lnk:hover,
.button:hover {
	color: #FFBA08;
}

.lnk:hover .ion,
.button:hover .ion {
	color: #FFBA08;
}

.lnk:hover .arrow:before,
.button:hover .arrow:before,
.lnk:hover .arrow:after,
.button:hover .arrow:after {
	background: #FFBA08;
}

input:focus,
textarea:focus,
button:focus {
	border-bottom: 1px solid #FFBA08;
}

button:hover {
	border-bottom: 1px solid #FFBA08;
}

.header .top-menu ul li:hover a,
.header .top-menu ul li.active a {
	color: #FFBA08;
}

.header .top-menu ul li:hover a .icon,
.header .top-menu ul li.active a .icon,
.header .top-menu ul li:hover a .link,
.header .top-menu ul li.active a .link {
	color: #FFBA08;
}

.card-started:after {
	background: -moz-linear-gradient(-45deg, rgb(255, 186, 8). 0%, rgba(196, 70, 218, 0.01) 100%);
	background: -webkit-linear-gradient(-45deg, rgb(255, 186, 8). 0%, rgba(196, 70, 218, 0.01) 100%);
	background: linear-gradient(135deg, rgb(255, 186, 8). 0%, rgba(196, 70, 218, 0.01) 100%);
}

.card-started .profile .image:before {
	background: -moz-linear-gradient(-45deg, rgb(255, 186, 8). 0%, rgba(196, 70, 218, 0.01) 100%);
	background: -webkit-linear-gradient(-45deg, rgb(255, 186, 8). 0%, rgba(196, 70, 218, 0.01) 100%);
	background: linear-gradient(135deg, rgb(255, 186, 8). 0%, rgba(196, 70, 218, 0.01) 100%);
}

.card-started .profile .subtitle {
	color: #FFBA08;
}

.card-started .profile .social a:hover .ion,
.card-started .profile .social a:hover .fab,
.card-started .profile .social a:hover .fas {
	color: #FFBA08;
}

.content .title:before {
	background: -moz-linear-gradient(-45deg, rgb(255, 186, 8). 0%, rgba(196, 70, 218, 0.01) 100%);
	background: -webkit-linear-gradient(-45deg, rgb(255, 186, 8). 0%, rgba(196, 70, 218, 0.01) 100%);
	background: linear-gradient(135deg, rgb(255, 186, 8). 0%, rgba(196, 70, 218, 0.01) 100%);
}

.service-items .service-item .icon {
	color: #FFBA08;
	background: -moz-linear-gradient(-45deg, rgb(255, 186, 8). 0%, rgba(196, 70, 218, 0.01) 100%);
	background: -webkit-linear-gradient(-45deg, rgb(255, 186, 8). 0%, rgba(196, 70, 218, 0.01) 100%);
	background: linear-gradient(135deg, rgb(255, 186, 8). 0%, rgba(196, 70, 218, 0.01) 100%);
}

.pricing-items .pricing-item .icon {
	color: #FFBA08;
}

.pricing-items .pricing-item .feature-list ul li strong {
	background: rgb(255, 186, 8).;
}

.fuct-items .fuct-item .icon {
	color: #FFBA08;
}

.resume-title .icon,
.skill-title .icon {
	color: #FFBA08;
}

.resume-items .resume-item.active .date {
	color: #FFBA08;
}

.resume-items .resume-item.active .date:before {
	background: #FFBA08;
}

.skills-list ul li .progress .percentage {
	background: #FFBA08;
}

.content.works .filter-menu .f_btn.active {
	color: #FFBA08;
}

.box-item .image .info:before {
	background: -moz-linear-gradient(-45deg, rgb(255, 186, 8). 0%, rgba(196, 70, 218, 0.01) 100%);
	background: -webkit-linear-gradient(-45deg, rgb(255, 186, 8). 0%, rgba(196, 70, 218, 0.01) 100%);
	background: linear-gradient(135deg, rgb(255, 186, 8). 0%, rgba(196, 70, 218, 0.01) 100%);
}

.post-box .blog-content blockquote {
	border-left: 2px solid #FFBA08;
}

.post-box .blog-content ul.list-style li:before {
	background: #FFBA08;
}

.post-box .post-comments li .comment-info .name h6 {
	color: #FFBA08;
}

.background.gradient {
	background: #50a3a2;
	background: -webkit-linear-gradient(top left, #c33764 0%, #FFBA08 100%);
	background: linear-gradient(to bottom right, #c33764 0%, #FFBA08 100%);
}

